<html>
  <head>
    <title>Good Vibrations Demo</title>
    <link rel="stylesheet" href="styles.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript" src="/vendor/angular.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/app.js" charset="utf-8"></script>
    <script type="text/javascript" src="/vendor/socket.io.min.js" charset="utf-8"></script>
  </head>
  <body ng-app="goodVibrations" ng-controller="PageCtrl">

    <div class="form" ng-controller="UserParamsCtrl">
      <h3>Setup</h3>
      <div class="form-input-line">
        <label for="beats">Beats per Loop</label>
        <input type="number" class="form-input" name="beats" ng-disabled="started" ng-model="beatCount" />
      </div>

      <div class="form-input-line">
        <label for="tempo">Tempo</label>
        <input type="number" class="form-input" name="tempo" ng-disabled="started" ng-model="tempo" />
      </div>

      <div class="form-input-line">
        <label for="maxLoops">Robot Loops</label>
        <input type="number" class="form-input" name="maxLoops" ng-disabled="started" ng-model="maxLoops" />
      </div>

      <div class="note-select">
        <h3>Pattern Select</h3>
        <div class="form-input-line">
          <label for="type">Type/Duration</label>
          <note-select name="type" note-options="noteTypes" ng-model="noteType"></note-select>
        </div>

        <div class="form-input-line">
          <label for="pitch">Pitch</label>
          <input type="number" class="form-input" min="31" max="127" name="pitch" ng-disabled="started || noteType.isRest" ng-model="pitch" />
        </div>

        <button class="button button-rounded button-flat" ng-click="addNote(noteType, pitch); $event.stopPropagation();">Add Note</button>

        <div class="note-list">
          <ul class="block-list">
            <li class="block-list-element" ng-repeat="note in notes">
              <img class="button-icon" width="50px" height="100px" ng-src="{{getNoteImage(note.duration, note.pitch)}}" />
              <span class="button-icon-text">{{getNoteName(note.pitch)}}</span>
            </li>
          </ul>
          <p>Pattern Length: {{patternLength()}}/{{beatCount}} beats</p>
        </div>
      </div>

      <div class="form-input-line">
        <button type="submit" class="button button-rounded button-flat-primary" ng-click="start()" ng-disabled="started">{{ started ? "Running" : "Start" }}</button>
      </div>
    </div>

    <h3>Harmonization Settings</h3>
    <div class="settings-form">
      <div class="form-input-line">
        <label for="octave">Octave Frequencies</label>
        <input type="range" name="octave" min="0" max="100" ng-model="octave" />
      </div>

      <div class="form-input-line">
        <label for="third">Third Frequencies</label>
        <input type="range" name="third" min="0" max="100" ng-model="third" />
      </div>

      <div class="form-input-line">
        <label for="fifth">Fifth Frequencies</label>
        <input type="range" name="fifth" min="0" max="100" ng-model="fifth" />
      </div>

      <div class="form-input-line">
        <label for="seventh">Seventh Frequencies</label>
        <input type="range" name="seventh" min="0" max="100" ng-model="seventh" />
      </div>
    </div>

    <div class="activity-pane">

    </div>
  </body>
</html>
