<html>
  <head>
    <title>Good Vibrations Demo</title>
    <script type="text/javascript" src="/vendor/angular.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/app.js" charset="utf-8"></script>
    <script type="text/javascript" src="/vendor/socket.io.min.js" charset="utf-8"></script>
  </head>
  <body ng-app="goodVibrations" ng-controller="PageCtrl">
    <p>
      {{hello}}
    </p>
    <div class="form" ng-controller="UserParamsCtrl">
      <form id="setup-form" ng-submit="start()">
        <div class="form-input">
          <label for="beats">Beats per Loop</label>
          <input type="number" name="beats" ng-model="beatCount" />
        </div>
        <div class="form-input">
          <label for="tempo">Tempo</label>
          <input type="number" name="tempo" ng-model="tempo" />
        </div>
        <div class="form-input">
          <label for="maxLoops">Robot Loops</label>
          <input type="number" name="maxLoops" ng-model="maxLoops" />
        </div>
        <div class="form-input">
          <button type="submit" ng-disabled="started">Start</button>
        </div>
      </form>
    </div>
  </body>
</html>
