*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue Light", "Helvetica Neue", sans-serif;
}

/* SVG */
.svg-note {
  fill: black;
  stroke: black;
  sroke-width: 0.5;

  transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -webkit-trnasition: all 0.1s ease;
}

.svg-note.playing {
  fill: orange;
  stroke: orange;
}

.full-width {
  width: 100% !important;
}

.pane-wrap {
  display: block;
  width: 100%;
}

.pane {
  display: block;
  width: 100%;
}

.big {
  font-size: 1.2em;
}

.small {
  font-size: 0.8em;
}

.tiny {
  font-size: 0.6em;
}

.grey {
  color: #888888;
}

.form-input-line {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 0.5em;
  font-size: 1.2em;
}

.form-input-label {
  display: table-cell;
  vertical-align: middle;
  width: 10em;
}

.form-input-entry {
  display: table-cell;
}

.form-input {
  display: inline-block;
  font-size: 1.0em;
}

.note-list {
  display: block;
  padding: 0.5em;
  min-height: 100px;
  width: 100%;
  background-color: #fafafa;
  border-radius: 0.2em;
}

.default-text {
  display: block;
  font-size: 1.5em;
  color: #aaaaaa;
  text-align: center;
  line-height: 100px;
}

.block-list {
  list-style: none;
}

.block-list-element {
  display: inline-block;
  margin: 0 0.25em;
}

.block-list-element:last-of-type {
  clear: left;
}

.note-select {
  display: inline-block;
}

.left-toggle, .right-toggle, .note-display {
  display: inline-block;
}

.left-toggle, .right-toggle {
  vertical-align: top;
  line-height: 100px;
  font-weight: bold;
  cursor: pointer;
}

.note-display {
  padding: 0 0.2em;
}

.stacked-button-inner {
  float: left;
  clear: left;
}

.button-icon {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 100px;
}

.button-icon-text {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 0.7em;
}

input[type="text"], input[type="number"], input[type="textarea"] {
  padding: 0.2em 0.5em;
  width: 5em;
  border-radius: 0.2em;
  border: 0.1em solid #bfbfbf;
}

input[type="text"]:hover, input[type="number"]:hover, input[type="textarea"]:hover,
input[type="text"]:focus, input[type="number"]:focus, input[type="textarea"]:focus {
  border: 0.1em solid #999999;
  outline: none;
}

input[type="text"], input[type="number"], input[type="textarea"],
input[type="text"]:hover, input[type="number"]:hover, input[type="textarea"]:hover,
input[type="text"]:focus, input[type="number"]:focus, input[type="textarea"]:focus {
  -webkit-transition: border 0.2s ease;
  -o-transition: border 0.2s ease;
  transition: border 0.2s ease;
}

input[type="text"]:disabled, input[type="number"]:disabled, input[type="textarea"]:disabled {
  background-color: #fafafa;
  color: #888888;
}

.button {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(top, #fbfbfb, #e1e1e1);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border: 1px solid #d4d4d4;
  line-height: 2em;
  padding: 0px 1.75em;
  font-weight: 300;
  font-size: 1em;
  color: #666666;
  text-shadow: 0 1px 1px white;
  margin: 0;
  text-decoration: none;
  text-align: center;
}

.button:hover .button:focus {
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
  background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
  background: -o-linear-gradient(top, #ffffff, #dcdcdc);
  background: linear-gradient(top, #ffffff, #dcdcdc);
}

.button:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  background: #eeeeee;
  color: #bbbbbb;
}

.button:focus {
  outline: none;
}

.button-flat {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #eeeeee;
  border: none;
  text-shadow: none;
}

.button-flat:hover, .button-flat:focus {
  background: #fbfbfb;
}

.button-flat:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #eeeeee;
  color: #bbbbbb;
}

.button-flat:disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

.button-flat-primary {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #00a1cb;
  color: white;
  text-shadow: none;
  border: none;
}

.button-flat-primary:hover, .button-flat-primary:focus {
  background: #00b5e5;
}

.button-flat-primary:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #1495b7;
  color: #00647f;
}

.button-flat-primary:disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

.button-rounded {
  -webkit-border-radius: 0.20em;
  -moz-border-radius: 0.20em;
  -ms-border-radius: 0.20em;
  -o-border-radius: 0.20em;
  border-radius: 0.20em;
}

@media screen and (min-width: 40em) {
  .pane-wrap {
    display: table;
  }

  .pane {
    display: table-cell;
  }

  .input-pane {
    width: 30%;
    border-right: 0.5em solid #bfbfbf;
  }

  .activity-pane {
    width: 70%;
  }
}
